.bg-test {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-test {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

pre {
  width: 100%;
  overflow: auto;
  padding: 1rem;
  white-space: pre;
}

.variables-table {
  border-collapse: collapse;
}

.variables-table td,
th {
  border: 1px solid #dddddd;
  padding: 1rem;
}

.navbar {
  position: fixed;
  z-index: 3;
}

.side-menu {
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform .25s ease;
}

.side-menu.showing {
  transform: translateX(0);
}

.side-menu-inner {
  position: absolute;
  width: fit-content;
  height: 100%;
  top: 0;
}

.side-menu-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.content h2 {
  padding-top: 3em;
}

.bg-light h2 {
  padding-top: 0;
}

@media (min-width: 540px) {
  .content {
      padding-left: 200px;
  }

  .side-menu {
      z-index: 1;
      width: auto;
      transform: none;
  }

  .side-menu-bg {
      display: none;
  }

  .side-menu-toggler {
      display: none;
  }
}